name: Dockerv2
run-name: ${{ github.actor }} is running CICD for Nodejs Application with Docker2

on:
  push:
    branches: [ "dev" ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ "dev" ]
  schedule:
    - cron: '43 23 * * 2'

permissions:
  contents: read

jobs:
  build-and-push-image-to-ecr1:
    runs-on: ubuntu-latest
    name: Build and Push Docker Image to ECR2
    steps:
      - name: Checkout repo code
        uses: actions/checkout@v3
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-southeast-1
      - name: Login to Amazon ECR1
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
      - name: Create ECR repository using Terraform1
        run: |
          cd ecr
          terraform init
          terraform apply -auto-approve
      - name: Build and push image to AWS ECR2
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: pglim360group2-chat-app
          IMAGE_TAG: latest
        run: |
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
      - name: Run Snyk to check Docker image for vulnerabilities1
